# /home/management/DockerFiles/artifacts-registry/.env
# Web UI + ORAS login: REGISTRY_USER / REGISTRY_PASSWORD
# GitHub secret: REGISTRY_USERNAME=aykutt

REGISTRY_USER=aykutt
REGISTRY_PASSWORD='SIFREN_BURAYA'
